.btn{
    text-align: center;
}
 a {
    text-decoration: none;
    color: rgb(37, 42, 45);
    background-color: rgb(18, 235, 235);
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.mat-elevation-z8{
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 90%;
}



.mat-elevation-z8  th , td{
    color: whitesmoke;
 }


@media screen and (min-width:200px) and (max-width:480px) {

  .main-div{
padding: 15px;
  }

    .mat-elevation-z8{
        display: block;
        overflow: scroll;
        border-radius: 20px;
    }

    .mat-elevation-z8 th,td{
        text-overflow: ellipsis;
        white-space: nowrap; 
        font-size: 40px;
        padding: 40px;
        text-align: center;
      }
      .mat-elevation-z8 td button{
        height: 60px;
        font-size: 40px;
      }

h2{
  margin-top: 5%;
    font-size: 50px;
    margin-bottom: 5%;
    color: rgb(233, 240, 240);
    padding-top: 30px;
    border-top: 1.5px solid rgb(255, 240, 240);
}
    
    
}


