<h2>Edit Or Update Your Details</h2>
<form id="maindetails">
    <div class="pdetails">
        <div class="heading">Personal Details</div>
        <div class="field">
            <div class="row1">
                <mat-form-field appearance="outline">
                    <mat-label>Your Name </mat-label>
                    <input matInput name="userName" [(ngModel)]="model.userName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Fathers Name</mat-label>
                    <input matInput name="fatherName" [(ngModel)]="model.fatherName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mother Name</mat-label>
                    <input matInput name="motherName" [(ngModel)]="model.motherName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Age</mat-label>
                    <input matInput name="userAge" [(ngModel)]="model.userAge">
                </mat-form-field>
            </div>
            <div class="row2">
                <mat-form-field class="date responsive-date" appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput type="date" name="userDob"
                        [(ngModel)]="model.userDob">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput name="userMob" [(ngModel)]="model.userMob">
                    <mat-error>Phone No is <strong>required</strong></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="userEmail" [(ngModel)]="model.userEmail">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select name="userGender" [(ngModel)]="model.userGender" style="color: white;">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row3">
                <mat-form-field appearance="outline">
                    <mat-label>Cast</mat-label>
                    <input matInput name="userCast" [(ngModel)]="model.userCast">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Adhar Number</mat-label>
                    <input matInput name="userAdhar" [(ngModel)]="model.userAdhar">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nationality</mat-label>
                    <input matInput name="userNationlity" [(ngModel)]="model.userNationlity">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Occupation</mat-label>
                    <mat-select name="userOccup" [(ngModel)]="model.userOccup" style="color: white;">
                        <mat-option value="Student">Student</mat-option>
                        <mat-option value="Farmer">Farmer</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="addres">
        <div class="heading">Address Details</div>
        <div class="field">
            <div class="row1">
                <mat-form-field appearance="outline">
                    <mat-label>Village</mat-label>
                    <input matInput name="userVillage" [(ngModel)]="model.userVillage">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>District</mat-label>
                    <input matInput name="userDist" [(ngModel)]="model.userDist">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Taluka</mat-label>
                    <input matInput name="userTq" [(ngModel)]="model.userTq">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput name="userState" [(ngModel)]="model.userState">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Pincode</mat-label>
                    <input matInput name="userPincode" [(ngModel)]="model.userPincode">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Pan Card No.</mat-label>
                    <input matInput name="userPan" [(ngModel)]="model.userPan">
                </mat-form-field>
            </div>
            <div class="row2">
                <!-- <mat-form-field>
                    <mat-label>Pincode</mat-label>
                    <input matInput name="userPincode" [(ngModel)]="model.userPincode">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Pan Card No.</mat-label>
                    <input matInput name="userPan" [(ngModel)]="model.userPan">
                </mat-form-field> -->
            </div>
        </div>
    </div>

</form>
<div class="responsive-main">
    <div class="responsive-inner">
        <label>
            <span> Your Name : </span>
            <input type="text" placeholder="Enter Your Name" [(ngModel)]="model.userName">
        </label>
        <label>
            <span> Fathers Name : </span>
            <input type="text" placeholder="Enter Father Name" name="fatherName" [(ngModel)]="model.fatherName">
        </label> 
        <label>
            <span> Mother Name : </span>
            <input type="text" placeholder="Enter Mother Name" name="motherName" [(ngModel)]="model.motherName">
        </label> 
        <label>
            <span> Age: </span>
            <input type="text" placeholder="Enter Age" name="userAge" [(ngModel)]="model.userAge">
        </label> 
        <label>
            <span>Date Of Birth : </span>
            <input type="text" placeholder="DD/MM/YYYY" name="userDob"
            [(ngModel)]="model.userDob">
        </label> 
        <label>
            <span> Mobile Number : </span>
            <input type="text" placeholder="Enter Mobile Number"  [(ngModel)]="model.userMob">
        </label> 
        <label>
            <span> Email : </span>
            <input type="text" placeholder="Enter Email" [(ngModel)]="model.userEmail">
        </label> 
        <label>
            <span> Gender: </span>
            <input type="text" placeholder="Enter Gender" name="userGender" [(ngModel)]="model.userGender">
        </label> 
        <label for="">
            <span> Cast : </span>
            <input type="text" placeholder="Enter Cast" name="userCast" [(ngModel)]="model.userCast">
        </label> 
        <label>
            <span> Adhar Number : </span>
            <input type="text" placeholder="Enter Adhar Number" name="userAdhar" [(ngModel)]="model.userAdhar">
        </label>
       
        <label>
            <span> Nationality : </span>
            <input type="text" placeholder="Enter Nationality" name="userNationlity" [(ngModel)]="model.userNationlity">
        </label> 
        <label>
            <span> Occupation : </span>
            <input type="text" placeholder="Enter Occupation" name="userOccup" [(ngModel)]="model.userOccup">
        </label> 
         <label>
            <span> Village : </span>
            <input type="text" placeholder="Enter Village" name="userVillage" [(ngModel)]="model.userVillage">
        </label> 
        <label>
            <span> District : </span>
            <input type="text" placeholder="Enter District" name="userDist" [(ngModel)]="model.userDist">
        </label> 
         <label>
            <span> Taluka : </span>
            <input type="text" placeholder="Enter Taluka" name="userTq" [(ngModel)]="model.userTq">
        </label> 
         <label>
            <span> State : </span>
            <input type="text" placeholder="Enter State" name="userState" [(ngModel)]="model.userState">
        </label> 
         <label>
            <span> Pincode : </span>
            <input type="text" placeholder="Enter Pincode" name="userPincode" [(ngModel)]="model.userPincode">
        </label> 
         <label>
            <span> Pan Card No : </span>
            <input type="text" placeholder="Enter Pan Card No" name="userPan" [(ngModel)]="model.userPan">
        </label>

    </div>
</div>


<button type="submit" (click)="UpdateData()">Update</button>


<!-- <pre>{{ model | json }}</pre> -->